.Menu{
    background-color: grey;
    max-width: 12rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: calc(5px + 2vmin);
    color: white;
}